@using BookPlatform.Core.ViewModels.Book
@model BookIndexViewModelWrapper

@{
    ViewData["Title"] = "Browse Books";
}

@section Header {
    <div class="row text-center">
        <p class="text-secondary">
            <span class="fst-italic">“If you don’t like to read, you haven’t found the right book.”</span> - J.K. Rowling
        </p>
    </div>
}

<h2>Browse All Books</h2>

<div class="row justify-content-start">
    <div class="col-auto">
        <form asp-action="Index" method="get">
            <div class="d-flex mb-4 align-items-center" style="width: 500px;">
                <div class="me-2 flex-grow-1">
                    <input asp-for="SearchInput" class="form-control" style="height: 40px;" placeholder="Search book by title or author" />
                </div>
                <button type="submit" class="btn btn-outline-dark" style="height: 40px; width: 100px;">Search</button>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <form asp-action="Index" method="get">
            <div class="d-flex mb-4 align-items-center" style="width: 500px;">
                <div class="me-2 flex-grow-1">
                    <select asp-for="@Model.GenreFilter" class="form-control text-secondary" style="height: 40px;" aria-required="true" asp-items="@(new SelectList(Model.Genres, "Name", "Name"))">
                        <option value="" class="text-secondary" style="height: 40px;">Filter by genre</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-dark" style="height: 40px; width: 100px;">Filter</button>
            </div>
        </form>
    </div>
</div>

@if(Model.Books != null && Model.Books.Any()){
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-md-2">
                <div class="card mb-2 shadow-sm" style="width: 200px; height: 425px">
                    <a class="card-title" asp-controller="Book" asp-action="Details" asp-route-bookId="@book.Id">
                        <img src="@book.ImageUrl" class="card-img-top" alt="Cover Image" style="height: 300px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <a class="book-title card-title" asp-controller="Book" asp-action="Details" asp-route-bookId="@book.Id">
                            <h6>@book.Title</h6>
                        </a>
                        <p class="card-text">@book.Author</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else{
    <h3>No Results</h3>
}


