@using Microsoft.AspNetCore.Identity
@using BookPlatform.Data.Models
@using BookPlatform.Core.ViewModels.Review
@using Microsoft.EntityFrameworkCore
@model AllBookReviewsViewModel

@inject UserManager<ApplicationUser> userManager

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card mb-2 shadow-sm" style="width: 100%">
                <img src="@Model.BookDetails.ImageUrl" class="card-img-top" alt="Cover Image" style="height: 450px; object-fit: cover;">
            </div>
            <div class="col-md-12">
                <div class="buttons" style="width: 100%">
                    <div class="d-flex flex-column">
                        <a class="btn btn-dark mb-2" asp-controller="Book" asp-action="Details" asp-route-bookId="@Model.BookDetails.Id">Go back</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-6 col-xs-12 min-vw-50">
            <h3>@Model.BookDetails.Title</h3>
            <p class="text-start">@Model.BookDetails.Author</p>
            <div class="d-flex flex-row align-content-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <p class="mx-2 my-0 py-0">@Model.BookDetails.AverageRating.ToString("F2")</p>
            </div>
            @foreach (ReviewViewModel review in Model.Reviews)
            {
                <div class="card border-secondary shadow-sm my-3" style="width:100%">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between">
                            <p class="card-text me-2"><strong>@review.Author</strong></p>
                            <div class="align-items-end">
                                @if (review.Rating != null)
                                {
                                    for (int i = 1; i <= review.Rating; i++)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill ms-0 position-relative" style="top: -3px;" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                    }
                                    for (int i = 1; i <= 5 - review.Rating; i++)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-star position-relative" style="top: -3px;" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                        </svg>
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= 5; i++)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-star position-relative" style="top: -3px;" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                        </svg>
                                    }
                                }
                            </div>
                        </div>
                        <div>
                            @if (review.IsModified == true)
                            {
                                <p class="text-secondary fst-italic">Modified</p>
                            }
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">@review.Content</p>
                    </div>

                    <div class="card-footer d-flex justify-content-between">
                        <div class="align-content-start">
                            @if (this.User?.Identity?.IsAuthenticated ?? false)
                            {

                                ApplicationUser? currentUser = await userManager.Users
                                .Include(u => u.Friends)
                                .FirstOrDefaultAsync(u => u.UserName == this.User.Identity!.Name);

                                if (currentUser != null)
                                {
                                    if (currentUser!.Friends.Any(f => f.UserName == review.Author))
                                    {
                                        <a asp-controller="Friend" asp-action="Remove" asp-route-email="@review.AuthorEmail">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-person-dash" viewBox="0 0 16 16">
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                            </svg>
                                        </a>
                                    }
                                    else if ((!currentUser!.Friends.Any(f => f.UserName == review.Author)) && currentUser.Email != review.AuthorEmail)
                                    {
                                        <a asp-controller="Friend" asp-action="Add" asp-route-email="@review.AuthorEmail">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-person-add" viewBox="0 0 16 16">
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                            </svg>
                                        </a>
                                    }
                                }
                            }
                        </div>
                        <div class="align-content-end">
                            @if (review.FavoriteCharacter != null)
                            {
                                <span class="text-secondary">@review.FavoriteCharacter</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="pink" class="bi bi-heart-fill ms-1 mb-n1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                </svg>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-heart mb-n1" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                </svg>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>            
</div>



