@using BookPlatform.Core.ViewModels.ReadingList;
@model ReadingListPaginatedViewModel

<table class="table table-hover text-start">
    <thead>
        <tr>
            <th class="col-1"></th>
            <th class="col-2 text-wrap">Title</th>
            <th class="col-2">My Rating</th>
            <th class="col-1">Character</th>
            <th class="col-2 text-center">Status</th>
            <th class="col-1 text-center">Finished</th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@book.BookId">
                        <img src="@book.ImageUrl" class="card-img-top" alt="Cover Image" style="width: 100px; height: 100px; object-fit: contain" />               
                    </a>
                </td>                    
                <td>
                    <a class="book-title" asp-controller="Book" asp-action="Details" asp-route-bookId="@book.BookId">
                        <h6>@book.BookTitle</h6>
                    </a>
                    <p>@book.Author</p>
                </td>
                <td>
                    @if (book.ReadingStatusId == 1)
                    {
                        <a asp-controller="ReadingList" asp-action="Edit" asp-route-bookId="@book.BookId" asp-route-readingStatusId="@book.ReadingStatusId" class="edit">
                            <partial name="_RatingPartial" model="book" />                            
                        </a>
                    }
                    else 
                    {
                        <partial name="_RatingPartial" model="book" />                        
                    }                    
                </td>                
                <td>
                    @if (book.ReadingStatusId == 1)
                    {
                        <a asp-controller="ReadingList" asp-action="Edit" asp-route-bookId="@book.BookId" asp-route-readingStatusId="@book.ReadingStatusId" class="edit">
                            @if (book.FavoriteCharacter != null)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#CD5C5C" class="bi bi-heart-fill me-1 mb-n1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                </svg>

                                <span>@book.FavoriteCharacter</span>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-heart mb-n1" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                </svg>
                            }
                        </a>
                    }
                    else 
                    {
                        @if (book.FavoriteCharacter != null)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#CD5C5C" class="bi bi-heart-fill me-1 mb-n1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                            </svg>

                            <span>@book.FavoriteCharacter</span>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-heart mb-n1" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                            </svg>
                        }
                    }                                  
                </td>
                <td class="text-center">
                    @if (book.ReadingStatusId == 1)
                    {
                        <a asp-controller="ReadingList" asp-action="Edit" asp-route-bookId="@book.BookId" asp-route-readingStatusId="@book.ReadingStatusId" class="edit">
                            @book.ReadingStatus
                        </a>
                    }
                    else
                    {
                        @book.ReadingStatus
                    }             
                </td>
                <td class="text-center">
                    @if (book.ReadingStatusId == 1)
                    {
                        <a asp-controller="ReadingList" asp-action="Edit" asp-route-bookId="@book.BookId" asp-route-readingStatusId="@book.ReadingStatusId" class="edit">
                            @book.DateFinished
                        </a>
                    }
                    else
                    {
                        @book.DateFinished
                    }                    
                </td>                              
                <td>                    
                    <div class="col d-flex justify-content-end">
                        <a asp-controller="ReadingList" asp-action="Remove" asp-route-bookId="@book.BookId" class="align-content-end text-end delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </a>
                    </div>                    
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-end">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link text-secondary bg-light" asp-action="Index"
                   asp-route-currentPage="@(Model.CurrentPage - 1)"
                   asp-route-entitiesPerPage="@Model.EntitiesPerPage">
                    Previous
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link text-secondary bg-light" asp-action="Index"
                   asp-route-currentPage="@i"
                   asp-route-entitiesPerPage="@Model.EntitiesPerPage">
                    @i
                </a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link text-secondary bg-light" asp-action="Index"
                   asp-route-currentPage="@(Model.CurrentPage + 1)"
                   asp-route-entitiesPerPage="@Model.EntitiesPerPage">
                    Next
                </a>
            </li>
        }
    </ul>
</nav>
